@import "tailwindcss";

@theme inline {
	--color-warning: var(--warning);
	--color-info: var(--info);
	--color-success: var(--success);
	--color-error: var(--error);
	--color-neutral: var(--neutral);
	--color-primary: var(--primary);
	--color-accent: var(--accent);
	--color-secondary: var(--secondary);
}

@layer base {
	:root {
		--warning: oklch(76.9% 0.188 70.08);
		--info: oklch(0.707 0.165 254.624);
		--success: oklch(62.7% 0.194 149.214);
		--error: oklch(57.7% 0.245 27.325);
		--neutral: oklch(14.5% 0 0);
		--primary: oklch(100% 0 0);
		--secondary: oklch(98.5% 0 0);
		--accent: oklch(55.163% 0.1488 276.387);
	}
}
